.nav-wrapper {
	padding-left: 20px;
	padding-right: 20px;
	// padding-top: 92px;
	padding-top: 30px;
	background-color: #fff;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	// margin-bottom: 220px;
	margin-bottom: 80px;
	display: flex;
	justify-content: center;
	// justify-content: space-between;
	align-items: center;
}

.logo {
	padding-top: 5px;
}

.nav {
	display: none;
}

.nav__item {
	padding-bottom: 5px;
	color: #aaaaaa;
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
	margin-right: 70px;
	text-decoration: none;
	transition: all 0.2s ease-in;
	&:last-child {
		margin-right: 0;
	}

	&--active, 
	&:hover, &:focus, &:active {
		color: #111111;
		text-decoration: none;
		font-weight: 600;
	}
}

// Для ширины экрана 768px и более

@media (min-width: 620px) {
	.nav {
		display: block;
	}
	.nav-wrapper {
		padding-top: 50px;
		padding-left: 20px;
		padding-right: 20px;
		justify-content: space-between;
		margin-bottom: 100px;
	}
}

// Для ширины экрана 1460px и более

@media (min-width: 1460px) {
	.nav-wrapper {
		padding-top: 92px;
		padding-left: 0;
		padding-right: 0;
		width: 1440px;
		margin-bottom: 220px;
	}

}