.reviews {
	width: 100%;
	margin-left: 10px;
	order: 1;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.reviews__title {
	.header-title-2;
	text-align: center;
	width: 100%;
}

.review-item{
	width: 260px;
	position: relative;
	margin-bottom: 25px;
	padding-bottom: 15px;
	border-bottom: 1px solid #e7e7e7;
	margin-right: 0px;
		&:last-child {
			margin-right: 0;
		}

		&:before {
		position: absolute;
		top: 0;
		left: -18px;
		content: "";
		display: block;
		width: 36px;
		height: 29px;
		z-index: -1;
		background-image: url(../../img/icons/quote.svg);
		background-repeat: no-repeat;
		background-position: center;
		}
}

.review-item__text{
	color: #999999;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.9;
	font-style: italic;
	margin-bottom: 10px;
}

.review-item__author{
	color: #000000;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.9;

		&:before {
			content: "-  ";
		}
}

@media (min-width: 630px) {
	.reviews {
		flex-direction: row;
		margin-left: 0px;
	}
	.review-item {
		margin-right: 50px;
	}
}

// Для ширины экрана 1460px и более

@media (min-width: 1280px) {
	.reviews {
		width: 260px;
		order: 0;
		margin-right: 20px;
	}
	.reviews__title {
		text-align: left;
	}
	.review-item {
		margin-right: 0px;
	}
}