* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto;
	margin-top: 200px;
	width: 500px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.input {
	width: 400px;
	margin-bottom: 30px;
	height: 30px;
	padding: 12px 10px;
	border: 2px solid grey;
}
.input:focus {
	outline: none;
	border: 2px solid black;
}
.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.bottom {
	font-family: monospace;
	min-width: 30px;
	height: 30px;
	padding: 5px;
	margin: 2px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: white;
	background-color: grey;
	border: 1px solid black;
	border-radius: 5%;
}

.active {
	background-color: orange;
}

.space {
	width: 300px;
}