body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  background: url(./material-design-linii-background-seryi-fon.jpg), no-repeat;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  max-width: 800px;
  min-height: 600px;
  color: #fefefe;
}

.main__title {
  margin: 0px;
  font-size: 26px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.btn {
  cursor: pointer;
  padding: 15px;
  font-size: 14px;
  width: 200px;
  border: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 6px;
  color: #1d1d1d;
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.btn__showCode {
  background-color: #e0e0e0;
}

.btn__showCode:hover {
  background-color: #d5d5d5;
}

.btn__showCode:active {
  background-color: #9f9d9e;
}

.btn__showForm {
  background-color: #90caf9;
}

.btn__showForm:hover {
  background-color: #648eaf;
}

.btn__showForm:active {
  background-color: #4b687f;
}

.btn__send {
  background-color: #ffdd2d;
}

.btn__send:hover {
  background-color: #ffcd33;
}

.substrate {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.open {
  display: block;
  -webkit-animation: openedModal .1s ease-in;
          animation: openedModal .1s ease-in;
}

.modalWindow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px auto;
  background-color: transparent;
  max-width: 700px;
  color: rgba(0, 0, 0, 0.8);
}

.modalWindow__header {
  position: relative;
  background-color: #3e4757;
  color: #fefefe;
  border-radius: 6px 6px 0px 0px;
}

.modalWindow__hideButton {
  border: none;
  cursor: pointer;
  position: absolute;
  fill: #fefefe;
  background-color: transparent;
  top: 5px;
  right: 0px;
}

.modalWindow__title {
  text-align: center;
}

.modalWindow__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background-color: #fff;
  padding: 20px 60px 10px;
  border: 1px solid #dddfe0;
  border-top: none;
}

.modalWindow__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 0px 0px 6px 6px;
  border: 1px solid #dddfe0;
  border-top: none;
  min-height: 100px;
}

.form__field, .form__textarea {
  min-height: 95px;
  width: 100%;
}

.form__field_birthdate, .form__field_telephone {
  width: 49%;
}

.form__field_birthdate {
  margin-right: 2%;
}

.field {
  position: relative;
  overflow: hidden;
}

.label {
  position: absolute;
  padding-top: 17px;
  padding-left: 15px;
  width: 100%;
  height: 100%;
  font-size: 22px;
  color: #9299a2;
  cursor: text;
  -webkit-transition: .35s;
  transition: .35s;
}

.label-focus {
  padding-top: 8px;
  font-size: 14px;
}

.input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 25px 6px 15px 17px;
  color: #333;
  font-size: 17px;
  background-color: #eef2f7;
  border: 1px solid #eef2f7;
  border-radius: 6px;
}

.inputHover:hover {
  border-color: #dddfe0;
}

.focus {
  background-color: #fff;
  border: 1px solid #dddfe0;
}

.transparent::-webkit-input-placeholder {
  color: transparent;
}

.transparent:-moz-placeholder {
  color: transparent;
}

.transparent::-moz-placeholder {
  color: transparent;
}

.transparent:-ms-input-placeholder {
  color: transparent;
}

.focus::-webkit-input-placeholder {
  color: #dfdee1;
}

.focus:-moz-placeholder {
  color: #dfdee1;
}

.focus::-moz-placeholder {
  color: #dfdee1;
}

.focus:-ms-input-placeholder {
  color: #dfdee1;
}

.access__icon {
  position: absolute;
  top: 30%;
  right: 2%;
}

.clear__button {
  position: absolute;
  cursor: pointer;
  top: 30%;
  right: 2%;
}

.error {
  border-color: #dd5656;
}

.error:hover {
  border-color: #dd5656;
}

.access {
  border-color: #6bbd8d;
}

.access:hover {
  border-color: #6bbd8d;
}

.error__message,
.invalid__report {
  margin-top: 5px;
  margin-bottom: 8px;
  color: #dd5656;
}

.error__name,
.error__birthdate,
.error__email,
.error__message,
.error__telephone,
.invalid__name,
.invalid__email,
.invalid__birthdate,
.invalid__telephone,
.accessName,
.accessEmail,
.accessBirthdate,
.accessTelephone,
.clearName,
.clearEmail,
.clearBirthdate,
.clearTelephone,
.success__message {
  display: none;
}

.form__success {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px auto;
  color: #6bbd8d;
}

/* Animation */
@-webkit-keyframes openedModal {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    opacity: .3;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes openedModal {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    opacity: .3;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* Media queries */
@media (max-width: 840px) {
  .main {
    height: 100vh;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .main__title {
    margin-bottom: 10px;
  }
  .buttons {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 500px;
  }
  .modalWindow {
    width: 100%;
    height: 100%;
    margin: 10px auto;
  }
  .form__field_birthdate,
  .form__field_telephone {
    width: 100%;
  }
  .form__field_birthdate {
    margin-right: 0%;
  }
}

@media (max-width: 700px) {
  .modalWindow {
    margin: 0px;
  }
  .modalWindow__header {
    border-radius: 0px;
  }
  .modalWindow__footer {
    border-radius: 0px;
  }
}

@media (max-width: 500px) {
  .main__title {
    font-size: 34px;
  }
  .btn__showForm,
  .btn__showCode {
    width: 300px;
    height: 100px;
  }
  .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: auto;
  }
  .btn__showForm {
    margin-top: 20px;
  }
  .modalWindow__form {
    padding: 20px 20px 10px;
  }
}

@media (max-width: 400px) {
  .label {
    font-size: 18px;
  }
}
/*# sourceMappingURL=main.css.map */